<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.armagetronad.groom"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="org.armagetronad.groom.provider.permission.WRITE" />
    <uses-permission android:name="org.armagetronad.groom.provider.permission.READ" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ServerInfo"
            android:label="@string/title_activity_server_info" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.armagetronad.groom.MainActivity" />
        </activity>

        <provider
            android:name="org.armagetronad.groom.content.ArmaProvider"
            android:authorities="org.armagetronad.groom.provider"
            android:enabled="true"
            android:writePermission="org.armagetronad.groom.provider.permission.WRITE"
            android:readPermission="org.armagetronad.groom.provider.permission.READ">
        </provider>
    </application>

</manifest>